/* div.form and form used to center current login page forms, may be removed if login page functionality changes */

div.form {
    display: block;
    text-align: center;
    background: rgb(153, 27, 27);
}

div h2 {
    margin-top: 100px;
    color: rgba(255, 255, 255, .5);
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    color: rgba(255, 255, 255, .5);
}

div.container {
    width: 350px;
    height: 350px;
    border-color: rgb(153, 27, 27);
    background-color: rgb(153, 27, 27);
}