body {
    background-color: rgb(179, 201, 58);
    text-align: center;
}

h1 {
    color: rgb(212, 136, 48);
    text-align: center;
}

audio {
    display: none;
}

p {
    font-family: verdana;
    font-size: 20px;
}