{% extends "base.html" %} {% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}"> {% endblock %} {% block title %}Register{% endblock %}{% block content %}

<div class="logincontainer regcontainer">
    <h2>Register</h2>
    <form action="#" method="post">
        {{ form.hidden_tag() }}
        <p>
            <input id="username" class = "input" name="username" placeholder = "username" required size="20" type="text" value="">
            <br> {%for error in form.username.errors %}
            <span style="color:red;">[{{error}}]</span> {% endfor %}
        </p>
        <p>
            <input id="email" class= "input" name="email" placeholder="email" required size="20" type="text" value=""><br> {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </p>
        <p>
            <input id="password" class= "input" name="password" placeholder= "password" required size="20" type="password" value=""><br> {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </p>
        <p>
            <input id="password2" class = "input" name="password2" placeholder = "repeat password" required size="20" type="password" value=""><br> {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </p>
        <p><input id="submit" class = "submit" name="submit" type="submit" value="Register"></p>
    </form>
    <p style = "font-size: 15px;">Already a User? <a href="{{ url_for('login') }}">Click to Sign in!</a></p>
</div>

{% endblock %}