/* custom.css should be used to set the theme for the whole site, to be used on every page
    contains the sidenav bar css too */

* {
    border-radius: 8px;
}

.btn {
    border-radius: 50px;
}

body {
    background-color: #1b1d1f;
    text-align: center;
    font-family: 'Calibri';
}

h1 {
    color: white;
    text-align: center;
}

audio {
    display: none;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
}

.sidenav {
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 20px;
    background: rgb(153, 27, 27);
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, .5);
    display: block;
}

.sidenav a:hover {
    color: rgba(255, 255, 255, .75);
}

.main {
    margin-left: 140px;
    /* Same width as the sidebar + left position in px */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.background-image{

    background-image: url("homephoto.PNG");
    /* https://image.freepik.com/free-photo/close-up-casino-chips-stack-green-poker-table_23-2147937911.jpg   */
    background-repeat: no-repeat; 
    background-position: 100% 100%;
    }
    
.responsive {
    width: 100%;
    height: auto;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}