/* custom.css should be used to set the theme for the whole site, to be used on every page
    contains the sidenav bar css too */

* {
    border-radius: 8px;
}

.btn {
    border-radius: 50px;
}

body {
    background-color: #1b1d1f;
    text-align: center;
    font-family: 'Calibri';
}

h1 {
    color: white;
    text-align: center;
}

audio {
    display: none;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
}

.sidenav {
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 20px;
    background: rgb(153, 27, 27);
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, .5);
    display: block;
}

.sidenav a:hover {
    color: rgba(255, 255, 255, .75);
}

.main {
    margin-left: 140px;
    /* Same width as the sidebar + left position in px */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/**kanes**/
.container {
    max-width: 960px;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  /*
   * Extra utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .header-main{
    color: white;
  }
  
  .subtitle-text{
    color: white;
  }
  
  
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

.card
{
color: red;

}