/* div.form and form used to center current login page forms, may be removed if login page functionality changes */

div.form {
    display: block;
    text-align: center;
    background: rgb(153, 27, 27);
}

div h2 {
    margin-top: 100px;
    color: whitesmoke;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    color: rgba(255, 255, 255, .5);
}
.submit{
    outline: 0;
    background-color: #536976;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  
}

.logincontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 350px;
}

.regcontainer {
    height: 500px;
}

/* kanes funky shitt*/
.input {
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    margin-left: 0px;
    padding-right: 80px;
    box-sizing: border-box;
    font-size: 14px;
    background: #f2f2f2;
  }
