{% extends "base.html" %}{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/lessons.css') }}"> {% endblock %}{% block title %}Lesson 1{% endblock %}{% block script %}
<script src="{{url_for('static', filename='js/quiz.js') }}"></script> {%endblock%}{% block content %}

<button class="tablink" onclick="openPage('content', this, 'red')" id="defaultOpen">Content</button>
<button class="tablink" onclick="openPage('quiz2', this, 'green')">Quiz</button>

<style>
    
  
    .card {
      margin: 15px;
      padding: 10px;
      border: 10px;
      margin-top: 0px; 
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
      background-color:transparent;
    }
    .flipper {
      perspective: 1000px;
    }
    /* flip the pane when hovered */
    .flipper.flip .card {
      transform: rotateY(180deg);
    }

    .front,
    .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
    /* front pane, placed above back */
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
      height: auto;
    }
    /* back, initially hidden pane */
    .back {
      transform: rotateY(180deg);
      height: auto;
    }


</style>

<div class = "container-fluid">
  <div class="row">
  <div class = "flipper col">
    <div class = "card">
            <div class="front">
                <img src="https://tekeye.uk/playing_cards/images/svg_playing_cards/backs/png_96_dpi/blue.png" class ="responsive card-img-top">
            </div>
            <div class="back">
             <img src="https://tekeye.uk/playing_cards/images/svg_playing_cards/fronts/png_96_dpi/hearts_ace.png" class ="responsive card-img-top">

            </div>
        </div>

      </div>
        <div class="flipper  col">
          <div class = "card">
            <div class="front">
    
                <img src=" https://tekeye.uk/playing_cards/images/svg_playing_cards/backs/png_96_dpi/blue.png"  class ="responsive card-img-top">
            
              
            </div>
            <div class="back">
                <img src="https://tekeye.uk/playing_cards/images/svg_playing_cards/fronts/png_96_dpi/clubs_ace.png" class ="responsive card-img-top">
            </div>
            </div>
          </div>
        <div class="flipper col">
          <div class = "card">
            <div class="front">

                <img src=" https://tekeye.uk/playing_cards/images/svg_playing_cards/backs/png_96_dpi/blue.png" class ="responsive card-img-top">
  
 
            </div>
            <div class="back">
                <img src="https://tekeye.uk/playing_cards/images/svg_playing_cards/fronts/png_96_dpi/diamonds_ace.png" class ="responsive card-img-top">
             
 
          </div>
        </div>
      </div>
    
        <div class="flipper col">
          <div class = "card">
              <div class="front">
 
                <img src=" https://tekeye.uk/playing_cards/images/svg_playing_cards/backs/png_96_dpi/blue.png" class ="responsive card-img-top">
    
   
              </div>
              <div class="back">
                <img src="https://tekeye.uk/playing_cards/images/svg_playing_cards/fronts/png_96_dpi/spades_ace.png" class ="responsive card-img-top">
               
              </div>
              <div class = "card">
    
          </div>


        </div>

      </div>
  </div>
</div>











    <h3>Content</h3>
    <p>
        Welcome to our first poker lesson. A deck of playing cards consists of four groups called suits. These suits are spades and clubs which are commonly coloured black. As well as hearts and diamonds, commonly red.
    </p>
    <img src="https://www.pngpix.com/wp-content/uploads/2016/11/PNGPIX-COM-Playing-Card-Symbols-PNG-Transparent-Image.png " class="responsive">
    <!--add picture of four suits-->
    <p>
        Each suit has thirteen cards. The cards have a numerical order. There are the "face" cards of ace, jack, queen and king. The ace acts as the number one. As well as the highest value in the suit. The jack acts as the eleventh card, the queen twelth and
        king thirteenth. A suit also has the cards two, three, four, five, six, seven, eight, nine and ten. If you had the tenth card in the suit of clubs. It could be referred to as a "ten of clubs."
    </p>
    <img src="https://www.wsop.com/how-to-play-poker/images/how-to-card-rank.jpg" class="responsive">
    <!-- add picture of 13 cards-->
</div>
<div id="quiz2" class="tabcontent">
    <h3>Quiz 1</h3>
    <p></p>
    <form method="post" action="/submit">
        <!-- SUbmit to the new database-->
        <div id="quiz"></div>
    </form>
    <button id="submit">Submit Quiz</button>
    <div id="results" style="color: white;"></div>
</div>

{% endblock %}