{% extends "base.html" %}{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/lessons.css') }}"> {% endblock %}{% block title %}Lesson 1{% endblock %}{% block content %}

<button class="tablink" onclick="openPage('content', this, 'red')" id="defaultOpen">Content</button>
<button class="tablink" onclick="openPage('quiz', this, 'green')">Quiz</button>

<div id="content" class="tabcontent">
    <h3>Content</h3>
    <p>
        Welcome to our first poker lesson. This is the introduction to a wealth of knowledge about the most exciting card game ever devised – poker. Either you already know it or will learn it as you go through these lessons offered up by Pokerology.com. The
        “it” I refer to is that poker is an incredibly enjoyable, challenging and addictive game. Once the poker bug has bitten you there is seldom a cure. If that is true, and based upon the number of years I have played and enjoyed the game, I believe
        it to be, then it is worth your time and effort to play the game well. You will soon learn that there are many different variations of poker, but the one thing they have in common is that you have to use your best five cards to make your hand.
        All forms of poker use a fifty two card deck made up of ranks starting with a two, commonly called a deuce, and continuing by number through ten and then in order comes the Jack, Queen, King and Ace. There are four different suits; Spades;
    </p>
</div>
<div id="quiz" class="tabcontent">
    <h3>Quiz</h3>
    <p>lol</p>
    <form method="post" action="/submit">
        <!-- SUbmit to the new database-->
        {{ quiz_form.question_1.label }} {% for subfield in quiz_form.question_1 %}
        <ul style="list-style-type:none;background-color:darkgrey;">
            <li>{{ subfield }}|{{ subfield.label }}</li>
        </ul>
        {% endfor %} {{ quiz_form.question_2.label }} {% for subfield in quiz_form.question_2 %}

        <ul class="list-group" style="list-style-type:none;">
            <li class="list-group-item">{{ subfield }}|{{ subfield.label }}</li>
        </ul>
        {% endfor %} {{ quiz_form.question_3.label }} {% for subfield in quiz_form.question_3 %}

        <ul class="list-group" style="list-style-type:none;">
            <li class="list-group-item">{{ subfield }}|{{ subfield.label }}</li>
        </ul>
        {% endfor %} {{ quiz_form.question_4.label }} {% for subfield in quiz_form.question_4 %}

        <ul class="list-group" style="list-style-type:none;">
            <li class="list-group-item">{{ subfield }}|{{ subfield.label }}</li>
        </ul>
        {% endfor %} {{ quiz_form.question_5.label }} {% for subfield in quiz_form.question_5 %}

        <ul class="list-group" style="list-style-type:none;">
            <li class="list-group-item">{{ subfield }}|{{ subfield.label }}</li>
        </ul>
        {% endfor %} {{ quiz_form.submit }}
    </form>
</div>
{% endblock %}{% block script %}

<script src="{{url_for('static', filename='js/lesson1.js') }}"></script> {%endblock%}